@charset "UTF-8";



*{
    margin: 0px;
    padding: 0px;

}

body {
  
 background-image: linear-gradient(to bottom, blue, white);
  text-align: center;
   margin: auto;
   margin: 10px;
   
   
   
   
}






header{
    padding: 40px;
    background-image: linear-gradient(to bottom, blue, rgb(255, 255, 255));
    color: white;
    border-radius: 10px;
    margin: 20px;
    
   
    
}

    
    



    header > h1{
        color: rgb(0, 0, 0);
        text-align: center;
        font-weight: bolder;
        text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.13);
        
        
        


    }
    .menu{
        margin: 10px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.194);

        }
        .estagio{
            color: rgb(84, 84, 84);
            border-radius: 20px;
        }

    main{
        background-image: linear-gradient(to bottom, white, blue);
        padding: 20px;
        border-radius: 10px;
        min-width:320px;
        max-width:800px;
        margin: auto;
        

    }
    nav {
        background-color: rgba(185, 162, 162, 0);
        
        color: rgba(63, 63, 63, 0);
       
        
        text-align: center;
    }
    nav a {
        color: rgb(0, 0, 0);
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bolder;
        transition-duration: 0.5s;
        text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.141);
    }
    nav a:hover{
        background-color: rgb(254, 254, 254);
        color: rgb(0, 0, 0);
        
    }

    div nav {
        margin: 10px;
    }
        
    img{
        border-radius: 1px;
        margin: 0px;
        height: 200px;
        width: 200px; 
        
    }

    img ave {
        border-radius: 1px;
    }
    

    



    h2{
        color: rgb(0, 0, 0);
        text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.142);
        text-align: center;
        font-weight: bolder;
    }
    
    p{
        color: rgb(0, 0, 0);
        text-align: justify;
        padding: 10px;
        margin-left: 10px;
        text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.122);
        min-width:320px; 
        max-width:800px;
        font-size: 1.em;
        font-weight: bolder;
        
    }
    footer{
        background-color: rgb(223, 224, 236);
        width: 150px;

        
        

       

    }
    .externo{
        padding: 3px;
        margin-top: 10%;
        color: rgb(0, 0, 0);
        margin: auto;

    }